<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Profil</title>
		<%- include("../fragmente/head") %>
        
		<link rel="stylesheet" type="text/css" href="/resurse/css/contact.css" />
		<script>

			// populez inputurile din pagina de profil cu datele din tabel (incarcate prin EJS)
			window.addEventListener("DOMContentLoaded", function(){
				document.getElementById("inp-username").value="<%= locals.utilizator.username %>";
				document.getElementById("inp-username").readOnly=true;
				document.getElementById("inp-nume").value="<%= locals.utilizator.nume %>";
				document.getElementById("inp-prenume").value="<%= locals.utilizator.prenume %>";
				document.getElementById("inp-email").value="<%= locals.utilizator.email %>";
				document.getElementById("p-reintrod").remove();
				var optiuni=document.getElementById("sel-culoare").options
				for (let opt of optiuni)
					if (opt.value=="<%= locals.utilizator.culoare_chat %>")
						opt.selected=true;
			});
		</script>
	</head>
	<body class="container">
		<header>
			<%- include("../fragmente/header") %>
		</header>
		<main>
		
			<section>
				<h2>Profil</h2>
				<p><%= locals.raspuns %></p>
			</section>
			<%- include("../fragmente/formular",{action:"/profil"}) %>

			<form id="form_sterge"  method="post" class="date"  action="sterge"  enctype="multipart/form-data">
				<p>
					<label>
						Parola: <input id="parl" type="password" required  name="parola" value="" required>
					</label>
				</p>
				<input type="submit" value="STERGE CONT">
			</form>
			<p><%- locals.mesaj %></p>
		</main>
		
		<%- include("../fragmente/footer") %>
		
	</body>
</html>